
{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block body %}
<main class="flex-grow p-6 mt-3">
    <div class="bg-white w-5/6 p-6 rounded-lg shadow mb-6 mx-24">
         {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="flex justify-between items-center">
            <h4 class="text-lg font-semibold text-gray-700">Liste des Agences</h4>
            <a href="{{ path('app_agence_add') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
                Ajouter
            </a>
        </div>
        <div class="flex mb-2">
        
            {{form_start(formSearchAgence,{attr:{class:"d-flex items-center"}})}}
                <div class=" w-64 mr-2 mt-2">
                    {{form_widget(formSearchAgence.Telephone)}}
                </div>
                  <div class="w-64 mr-2 ">
                    {{form_widget(formSearchAgence.Adresse)}}
                </div>
            {{form_end(formSearchAgence)}}

        </div>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-600 text-white">
                    <th class="border border-gray-300 px-4 py-2">Numero</th>
                    <th class="border border-gray-300 px-4 py-2">Adresse</th>
                    <th class="border border-gray-300 px-4 py-2">Telephone</th>
                    <th class="border border-gray-300 px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for agence in datas %}
                        <tr class="bg-white hover:bg-gray-100">
                           <td class="border border-gray-300 px-4 py-2">{{ agence.Numero }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ agence.Adresse }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ agence.Telephone }}</td>
                            <td class="border border-gray-300 px-4 py-2">
                                <a href="">
                                    <button type="button" class="btn btn-success">Voir</button>
                                </a>
                               <a href="">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                </a>
                            </td>
                        </tr>
                {% endfor %}


            </tbody>
        </table>
       <div class="w-full flex items-end justify-end mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    {% for page in 1..nbrePage %}
                        <li class="page-item {{page==pageAcive ? 'active' : ''}}">
                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
{% endblock %}

